h2 {
  text-align: center;
  text-decoration: underline;
  color: aquamarine;
}

p {
  text-align: center;
  color: aquamarine;
}

ol {
  list-style-type: none;
  color: aquamarine;
  text-align: center;
}

body {
  background-color: firebrick;
}