h2 {
  text-align: center;
  text-decoration: underline;
  color: aquamarine;
}

p {
  text-align: center;
  color: aquamarine;
}

img {
  align-content: center;
}

body {
  background-color: firebrick;
}