h2 {
  text-align: center;
  text-decoration: underline;
  color: aquamarine;
}

p {
  text-align: center;
  color: aquamarine;
}

ul {
  list-style-type: none;
  text-align: center;
  color: aquamarine;
}

body {
  background-color: firebrick;
}